
<%= form_for @datum, :html => { :class => 'form-inline' } do |f| %>
  <fieldset>
    <div>
    <span class="badge badge-inverse">Name&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.text_field :name, :class => 'text_field', :placeholder => "Enter Name..." %>
    </span>
    </div>
    <div>
    <span class="badge badge-inverse">Age&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.number_field :age, :class => 'number_field', :placeholder => "Enter Age..." %>
    </span>
    </div>
    <div>
    <span class="badge badge-inverse">Country
      <%= f.text_field :country, :class => 'text_field', :placeholder => "Enter Country..." %>
    </span>
    </div>
    <div class="form-actions">
      <%= f.submit'Create/Update', :class => 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>
<script>

  </script>