<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Country</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @data.each do |datum| %>
      <tr>
	<td><%= datum.id %></td>
	<td><%= datum.name %></td>
	<td><%= datum.age %></td>
	<td><%= datum.country %></td>
	<td><%= datum.created_at.strftime("%d-%B-%Y %I:%M %P") %></td>
	<td>
	  <%= link_to 'Destroy', datum_path(datum), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_datum_path, :class => 'btn btn-success' %>
