<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Country</th>
      <th>Gender</th>
      <th>Graduate</th>
      <th>Recieve Emails</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @data.each do |datum| %>
      <tr>
	<td><%= datum.name %></td>
	<td><%= datum.age %></td>
	<td><%= datum.country %></td>
  <td><%= datum.gender %></td>
  <td><%= datum.q1 %></td>
  <td>
    <% if(datum.q2.to_i == 1) %>
      Yes
    <% else %>
      No
    <% end %>
  </td>
	<td>
	  <%= link_to 'Destroy', datum_path(datum), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_datum_path, :class => 'btn btn-success' %>
