<h1>/Datum</h1>

<p>
  <b>Name</b><br>
  <%= @datum.name %>
</p>

<p>
  <b>Age</b><br>
  <%= @datum.age %>
</p>

<p>
  <b>Country</b><br>
  <%= @datum.country %>
</p>
<p>
  <b>Gender</b><br>
  <%= @datum.gender %>
</p>

<p>
  <b>Age</b><br>
  <%= @datum.q1 %>
</p>

<p>
  <b>Country</b><br>
  <%= @datum.q2 %>
</p>

<div class="form-actions">
  <%= link_to 'Back', data_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_datum_path(@datum), :class => 'btn' %>
  <%= link_to 'Delete', datum_path(@datum), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
